{{ if .Site.Params.short.enable | default false }}
<section id="short" class="py-5">
    <div class="container">
        <!-- <h3 class="text-center">{{ .Site.Params.short.title | default "short" }}</h3> -->
        <h3 class="text-center">последние проекты</h3>
        <div class="row justify-content-center py-5">
            <!-- Старт нового цикла -->
            <!-- Находим только статьи из projects -->
            {{ $pages := where site.RegularPages "Section" "projects" }}
            {{ range first 3 $pages }}
                <div class="col-12 p-0">
                <div class="row row align-items-center justify-content-center m-1 mb-4">


                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">

                                <h5 class="card-title">{{ .Title }}</h5>
                                
                                <!-- <pre> </pre> выключает markdown -->
                                <div class="py-1 short-content">
                                    {{ .Content | truncate 700 | safeHTML }}
                                     <!-- .Summary | truncate 700 | safeHTML  -->
                                    <!-- {{ .Summary }} берет только часть текста -->
                                </div>
                                <!-- Ссылки -->
                                <div class="py-1">
                                    <a href="{{ .RelPermalink }}" class="btn" target="_self">
                                        Читать подробнее
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}

            {{ if .Site.Params.short.endlink }}
                <div style="display: flex; justify-content: center; text-align: center;">
                    <div id="feedback">
                        <a 
                            href="{{ .Site.Params.short.endlinkurl }}"
                            class="btn"
                        >
                            {{ .Site.Params.short.endlinktext }}
                        </a>
                    </div>
                </div>
            {{ end }}
            
        </div>
    </div>
</section>
{{ end }}
