{{ define "head" }}
<meta name="description" content="{{ .Params.description }}">
<link rel="stylesheet" href="{{.Site.Params.staticPath}}/css/single.css">
<!-- GALLERY -->
<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
      />
<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.css"
      />
<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.thumbs.css"
      />
<!--  -->
<!-- GALLERY STYLE -->
{{ if .Params.gallery.standard | default false}}
  <link rel="stylesheet" href="{{.Site.Params.staticPath}}/css/gallery-stan.css">
{{ end }}
{{ if .Params.gallery.vert | default false}}
  <link rel="stylesheet" href="{{.Site.Params.staticPath}}/css/gallery-vert.css">
{{ end }}
<style>
  @media all and (min-width:768px) {
    .f-carousel {
      --f-button-next-pos: {{ .Params.gallery.buttons | default "10px"}};
      --f-button-prev-pos: {{ .Params.gallery.buttons | default "10px"}}; 
    }
  }
</style>
{{ if .Params.gallery.vert | default false}}
  <style>
  #myCarousel {
      --f-carousel-slide-width: {{ .Params.gallery.slidewidth | default "50%" }};
      max-width: {{ .Params.gallery.maxwidth | default "640px" }};
  }
  #myCarousel .f-carousel__slide {
    padding: {{ .Params.gallery.padding | default "0px" }};
  }
  @media all and (max-width:768px) {
    #myCarousel {
        --f-carousel-spacing: 1px;
        --f-carousel-slide-width: 75%;
      }
  }
  </style>
{{ end }}

<!-- <style>
  .f-carousel {
    --f-transition-duration: 13s !important;
}
</style> -->
<!-- fontawesome -->
<script defer src="{{.Site.Params.staticPath}}/fontawesome-6/all-6.4.2.js"></script>

{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section id="single">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-9">
        <div class="pr-lg-4">
          <div class="title mb-5">
            <h1 class="text-center mb-4">{{ .Title }}</h1>
              {{ if .Params.gallery.enable | default false}}

                <div class="start-gallery" style="padding-bottom:16px;">
                  <div class="f-carousel" id="myCarousel">
                    {{ range .Params.gallery.images }}
                      <div
                          class="f-carousel__slide"
                              href="{{ .src }}"
                          data-fancybox="gallery"
                          >
                      <img
                          alt="" class="carousel"
                          data-lazy-src="{{ .src }}"
                          />
                      </div>
                    {{ end }}
                  </div>
                </div>

              {{ end}}
              {{ if or (.Params.featuredLink.enable) (.Params.featuredLink2.enable) (.Params.featuredLink3.enable) }}
                <div class="py-1">
                    
                      <div style="display: flex; justify-content: center; text-align: center;">
                        {{ if .Params.featuredLink.enable }}
                        <div id="comon-button">
                            <a 
                                href="{{ .Params.featuredLink.url }}"
                                class="btn", target="{{ .Params.featuredLink.target }}"
                            >
                            {{ .Params.featuredLink.name}}
                            </a>
                        </div>
                        {{ end }}
                        {{ if .Params.featuredLink2.enable }}
                        <div id="comon-button">
                            <a 
                                href="{{ .Params.featuredLink2.url }}"
                                class="btn", target="{{ .Params.featuredLink2.target }}"
                            >
                            {{ .Params.featuredLink2.name}}
                            </a>
                        </div>
                        {{ end }}
                        {{ if .Params.featuredLink3.enable }}
                        <div id="comon-button">
                            <a 
                                href="{{ .Params.featuredLink3.url }}"
                                class="btn", target="{{ .Params.featuredLink3.target }}"
                            >
                            {{ .Params.featuredLink3.name}}
                            </a>
                        </div>
                        {{ end }}
                      </div>
                </div>
              {{ end }}
            <div class="text-center">
              {{ if .Params.author }}
                {{ .Params.author }}
                <small>|</small>
              {{ end }}
              <!-- {{ .Date.Format (.Site.Params.datesFormat.article | default "Jan 2, 2006") }} -->

              {{ if or (.Site.Params.singlePages.readTime.enable | default true) (.Params.enableReadingTime) }}
              <span id="readingTime">
                {{ .Site.Params.singlePages.readTime.content | default "min read" }}
              </span>
              {{ end }}
            </div>
          </div>
          {{ if .Params.imageenable }}
          <div class="featured-image">
            <img class="img-fluid mx-auto d-block" src="{{ .Params.image }}" alt="{{ .Title }}">
          </div>
          {{ end }}
          


          <article class="page-content  p-2">
          {{ .Content | emojify }}
          </article>
        </div>
      </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-9 p-4">
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
  <button class="p-2 px-3" onclick="topFunction()" id="topScroll">
    <i class="fas fa-angle-up"></i>
  </button>

  <style>
    #comon-button .btn {
    transition: none;
    transition: opacity 0.3s;
    border-radius: .5rem !important;
    border-color: var(--primary-color) !important;
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
    margin: 0 3px 0 3px;
  }

  #comon-button .btn:hover {
      opacity: .7;
  }

  #comon-button .btn:focus {
      box-shadow: none !important;
  }
  </style>
  <div style="display: flex; justify-content: center; text-align: center;">
      <div id="comon-button">
          <a 
              href="/projects"
              class="btn"
          >
              Вернуться ко всем проектам
          </a>
      </div>
  </div>

</section>

{{ if or (.Site.Params.singlePages.scrollprogress.enable | default true) (.Params.enableScrollProgress) }}
<div class="progress">
  <div id="scroll-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<Script src="{{.Site.Params.staticPath}}/js/scrollProgressBar.js"></script>
{{ end }}

<script>
  var topScroll = document.getElementById("topScroll");
  
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      topScroll.style.display = "block";
    } else {
      topScroll.style.display = "none";
    }
  }

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }

  // To set height of sticky sidebar dynamically
  let stickySideBarElem = document.getElementById("stickySideBar");
  let stickyNavBar = {{ .Site.Params.navbar.stickyNavBar.enable | default false }};
  if(stickyNavBar) {
    let headerElem = document.getElementById("profileHeader");
    let headerHeight = headerElem.offsetHeight + 15;
    stickySideBarElem.style.top = headerHeight + "px";
  } else {
    stickySideBarElem.style.top = "50px";
  }
</script>
<!-- GALLERY -->
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.thumbs.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>

<script>

  const instance = new Carousel(document.getElementById("myCarousel"), {
    // Your custom options
    Dots: false,
    transition: "classic",
    preload: 3,
    friction: 0.03,
    // infinite: false,
    // transitionDuration: 0,
    // adaptiveHeight: true,
  });
  // instance.settings.transitionDuration = 8000; // Новое значение
  // instance.reinit();
  // setTimeout(() => {
  //   carousel.reinit();
  // }, 100);
    
  Fancybox.bind('[data-fancybox="gallery"]', {
    Hash: false,
    Thumbs: false,
    compact: false,

    contentClick: "toggleCover",
    wheel : "slide",

    Toolbar: {
      display: {
        left: [],
        middle: [],
        right: ["close"],
      },
    },

    Images: {
      Panzoom: {
        panMode: "mousemove",
        mouseMoveFactor: 1.1,
        mouseMoveFriction: 0.12
      },
    },
  });    
</script>

<!--  -->

<!-- <script>

  var newURL = "{{ .Site.BaseURL }}projects";
 //  document.getElementById("link").href = newURL;
  document.querySelector('[aria-label="short"]').href = newURL;
  document.querySelector('[aria-label="short"]').textContent = "проекты";
  document.querySelector('[aria-label="about"]').textContent = "< вернуться";
  document.querySelector('[aria-label="feedback"]').remove();
  // document.get;

</script> -->

{{ if or (.Site.Params.singlePages.readTime.enable | default true) (.Params.enableReadingTime) }}
<script src="{{.Site.Params.staticPath}}/js/readingTime.js"></script>
{{end}}

{{ end }}
